= form_for(@reservation) do |f|
  %ul
    - @reservation.errors.full_messages.each do |error|
      %li= error
  = f.label "Nazwisko"
  = f.text_field :username
  = f.label "Numer Telefonu"
  = f.phone_field :phone
  = f.label "Adres email"
  = f.email_field :email
  = f.collection_select(:table_id, Table.all, :id, :capacity, 
    {prompt: "Kategoria"})
  = f.select :hour, (9..18).to_a
  = f.submit "Rezerwuj"