= form_for(@meals) do |f|
  %ul
    - @meals.errors.full_messages.each do |error|
      %li= error
  = f.label :nazwa
  = f.text_field :name
  = f.label :cena
  = f.number_field :price, in: 1.0..100.0, step: 1.0
  = f.label :opis
  = f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Kategoria"})
  = f.text_area :description, rows: 4
  = f.submit "Zatwierdź"