= provide :title, "Rezerwacja"
%h1 Zarezerwuj stolik
- @tables.each do |table|
  = table.id + " : " 
  = table.capacity + " miejsc."
%h2 Zarezerwowane stoliki
- @reservations.each do |reservation|
  = event.table.id + event.date
  - unless event.time.nil? || event.time.strftime("%H:%M")=="00:00"
    .datetime
      = event.time.strftime("%H:%M") + " | "
      = event.date.strftime("%d.%m.%y")
  - else 
    .date= event.date.strftime("%d.%m.%Y")
= render partial: 'form'
